node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# VCS
.git
.github
.gitignore

# Not needed in build context
README.md
*.md
**/*.spec.*
**/*.test.*
src/__tests__
.eslintcache
.eslintrc*
.prettier*
.jest*

# Outputs
dist
coverage
.nyc_output

# OS / editor
.DS_Store
Thumbs.db
.vscode
.idea
