{
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true,
        "jest": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import", "@stylistic/ts", "prettier"],
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2022,
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            },
            "node": {
                "extensions": [".js", ".ts"],
                "paths": ["node_modules/", "node_modules/@types"]
            }
        }
    },
    "rules": {
        "import/no-unresolved": "error",
        "@typescript-eslint/no-namespace": "off",
        "no-console": "warn",
        //* Avoid Bugs
        "no-undef": "error",
        "semi": "error",
        "semi-spacing": "error",
        //* Best Practices
        "eqeqeq": "warn",
        "no-invalid-this": "off",
        "no-return-assign": "error",
        "no-return-await": "off",
        "no-unused-expressions": ["error", { "allowTernary": true }],
        "no-useless-concat": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            { "functions": false, "classes": false }
        ],
        "no-useless-return": "error",
        "no-constant-condition": "warn",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "after-used",
                "argsIgnorePattern": "req|res|next|^_",
                "varsIgnorePattern": "req|res|next|^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ],
        "no-underscore-dangle": "off",
        //* Enhance Readability

        "no-mixed-spaces-and-tabs": "warn",
        "space-before-blocks": "error",
        "space-in-parens": "error",
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "quotes": ["error", "single"],
        //
        "max-len": ["error", { "code": 200 }],
        "max-lines": ["error", { "max": 800 }],
        "keyword-spacing": "error",
        "multiline-ternary": ["error", "never"],
        "no-mixed-operators": "error",
        //
        "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
        "no-whitespace-before-property": "error",
        "nonblock-statement-body-position": [
            "error",
            "below",
            {
                "overrides": {
                    "while": "beside"
                }
            }
        ],
        "indent": ["error", 4],

        "object-property-newline": [
            "error",
            { "allowAllPropertiesOnSameLine": true }
        ],
        //* ES6
        "arrow-spacing": "error",
        "no-confusing-arrow": "error",
        "no-duplicate-imports": "error",
        "import/extensions": "off",
        "no-var": "error",
        "object-shorthand": "off",
        "prefer-const": "error",
        "prefer-template": "warn"
    }
}

